.list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  background-color: #e6e6e6;
  padding-bottom: 100px;
  min-height: calc(100vh - 470px - 78px);
}

.list__info {
  margin: 50px 0;
  text-decoration: underline;
  text-underline-offset: 3px;
}
